


<ion-view>
    <ion-header-bar class="bar-header bar-positive">
        <div class="title uppercase">Welcome to PIE VOTE</div>
        <button class="button button-clear" ng-click="logout()">Logout</button>
    </ion-header-bar>
    <ion-content>

        <div class="list">
            <div class="profile-container">
                <!--<div id="em-profile" class="item">-->
                    <!-- <img src="img/ionic.png"> -->
                    <div ng-if="user.profilePic" class="profile-pic" ng-style="{'background-image': 'url(' + user.profilePic + ')'}"></div>
                    <div ng-if="!user.profilePic" class="profile-pic" style="background-image: url(img/profile-pic-default.png)"></div>
                <!--</div>-->
                <div id="myDiv">
                    <div id="color">
                        <div id="effect"></div>
                    </div>
                </div>
                <div class="profile-background" ng-style="{'background-image': 'url(' + user.profilePic + ')'}"></div>
            </div>
            <div class="list">
                <!-- <label class="item item-input field-disabled">
                    <span class="input-label">Email</span>
                    <input ng-model="user.email" type="text" placeholder="user@gmail.com">
                </label> -->
                <label class="item item-input">
                    <span class="input-label">ชื่อผู้เข้าร่วม</span>                    
                    <input ng-model="user.name" type="text"  disabled="ture" >
                     
                </label>
              
                <label class="item item-input">
                    <SAMP class="input-label"> สถานะการเชื่อมต่อ</SAMP>   
                    <div id="data">กรุณารอสักครู่อยู่ระหว่างการเชื่อมต่อNETPIE</div>                       
                </label>
<!--                 <label class="item item">
                <SAMP class="input-label"> </SAMP> 
                <center>
 -->
               <!--  <button id="btn" ng-click="voteteame()" class="button" >โหวตให้กับทีมนี้</button> -->    <!-- bk on click -->
                     <!-- <button id="btn"  collection-repeat="item in items" class="button" ng-click="set(item)" >{{item}}</button> -->

 <!--                </center>    
                  
                </label>  -->  
                <center>
                    <div value="false" id="textshow"  >
                        <span class="input-label">เคยโหวดแล้ว</span> 
                    </div>
                </center>
              <ion-scroll direction="y" style="height: 50vh"> 
                <ion-list class="text-center">   
                <br> 
                <div ng-show="showButton">
                    <button class="button button-block button-assertive" ng-click="set(item)" style="position: absolute !important; left: 0 !important; right: 0 !important; margin: auto !important;" collection-repeat="item in items"  collection-item-height="60"> 
                        {{item}} 
                    </button> 
                    
                </div>
                </ion-list>   
                </ion-scroll> 
            </div>
        </div>
        <div class="team">
            
        </div>
    </ion-content>
</ion-view>
